In [1]:
import pandas as pd

In [4]:
tv_shows = pd.read_csv(r'C:\Users\hp\OneDrive\Desktop\movie recomendation\tv_shows.csv')

In [5]:
tv_shows.head(10)

,id,title,number_of_seasons,number_of_episodes,original_language,vote_count,vote_average,overview,adult,backdrop_path,...,tagline,genres,created_by,languages,networks,origin_country,spoken_languages,production_companies,production_countries,episode_run_time
0,1399,Game of Thrones,8,73,en,21857,8.442,Seven noble families fight for control of the ...,False,/2OMB0ynKlyIenMJWI2Dy9IWT4c.jpg,...,Winter Is Coming,"Sci-Fi & Fantasy, Drama, Action & Adventure","David Benioff, D.B. Weiss",en,HBO,US,English,"Revolution Sun Studios, Television 360, Genera...","United Kingdom, United States of America",0
1,71446,Money Heist,3,41,es,17836,8.257,"To carry out the biggest heist in history, a m...",False,/gFZriCkpJYsApPZEF3jhxL4yLzG.jpg,...,The perfect robbery.,"Crime, Drama",Álex Pina,es,"Netflix, Antena 3",ES,Español,Vancouver Media,Spain,70
2,66732,Stranger Things,4,34,en,16161,8.624,"When a young boy vanishes, a small town uncove...",False,/2MaumbgBlW1NoPo3ZJO38A6v7OS.jpg,...,Every ending has a beginning.,"Drama, Sci-Fi & Fantasy, Mystery","Matt Duffer, Ross Duffer",en,Netflix,US,English,"21 Laps Entertainment, Monkey Massacre Product...",United States of America,0
3,1402,The Walking Dead,11,177,en,15432,8.121,Sheriff's deputy Rick Grimes awakens from a co...,False,/x4salpjB11umlUOltfNvSSrjSXm.jpg,...,Fight the dead. Fear the living.,"Action & Adventure, Drama, Sci-Fi & Fantasy",Frank Darabont,en,AMC,US,English,"AMC Studios, Circle of Confusion, Valhalla Mot...",United States of America,42
4,63174,Lucifer,6,93,en,13870,8.486,"Bored and unhappy as the Lord of Hell, Lucifer...",False,/aDBRtunw49UF4XmqfyNuD9nlYIu.jpg,...,It's good to be bad.,"Crime, Sci-Fi & Fantasy",Tom Kapinos,en,"FOX, Netflix",US,English,"Warner Bros. Television, DC Entertainment, Jer...",United States of America,45
5,69050,Riverdale,7,137,en,13180,8.479,"Set in the present, the series offers a bold, ...",False,/soQgquPkLmUu9eKLJJzuA4KZDyi.jpg,...,"To save the future, they must survive the past.","Crime, Drama, Mystery",Roberto Aguirre-Sacasa,en,The CW,US,English,"Warner Bros. Television, Berlanti Productions,...",United States of America,45
6,93405,Squid Game,2,9,ko,13053,7.831,Hundreds of cash-strapped players accept a str...,False,/2meX1nMdScFOoV4370rqHWKmXhY.jpg,...,45.6 billion won is child's play,"Action & Adventure, Mystery, Drama",Hwang Dong-hyuk,"en, ko, ur",Netflix,KR,"English, 한국어/조선말, اردو","Siren Pictures, Firstman Studio",South Korea,0
7,1396,Breaking Bad,5,62,en,12398,8.890,"When Walter White, a New Mexico chemistry teac...",False,/tsRy63Mu5cu8etL1X7ZLyf7UP1M.jpg,...,Change the equation.,"Drama, Crime",Vince Gilligan,"en, de, es",AMC,US,"English, Deutsch, Español","Sony Pictures Television Studios, High Bridge ...",United States of America,0
8,71712,The Good Doctor,6,116,en,11768,8.503,"Shaun Murphy, a young surgeon with autism and ...",False,/xXRsKNJHTOGrs5wfYAxkbM2RiyT.jpg,...,Everyone operates differently.,Drama,David Shore,en,ABC,US,English,"ABC Studios, 3AD, Sony Pictures Television Stu...",United States of America,43
9,85271,WandaVision,1,9,en,11308,8.300,Wanda Maximoff and Vision—two super-powered be...,False,/lOr9NKxh4vMweufMOUDJjJhCRHW.jpg,...,Experience a new vision of reality.,"Sci-Fi & Fantasy, Mystery, Drama",Jac Schaeffer,en,Disney+,US,English,Marvel Studios,United States of America,0

In [6]:
tv_shows.describe()

,id,number_of_seasons,number_of_episodes,vote_count,vote_average,popularity,episode_run_time
count,200.000000,200.000000,200.00000,200.000000,200.00000,200.000000,200.000000
mean,49110.810000,5.595000,113.70500,4128.125000,8.10222,201.980315,33.160000
std,35517.389323,5.044622,143.72859,3218.847568,0.46183,226.444950,22.172562
min,105.000000,1.000000,2.00000,1726.000000,6.37800,7.537000,0.000000
25%,5593.500000,2.000000,26.00000,2164.500000,7.85525,67.002250,22.000000
50%,60598.000000,4.000000,62.00000,2878.500000,8.20800,126.004500,42.000000
75%,75707.250000,7.000000,140.50000,4476.500000,8.44250,244.575750,45.250000
max,154521.000000,35.000000,1080.00000,21857.000000,8.89000,1647.218000,130.000000

In [7]:
tv_shows.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 29 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    200 non-null    int64
 1   title                 200 non-null    object
 2   number_of_seasons     200 non-null    int64
 3   number_of_episodes    200 non-null    int64
 4   original_language     200 non-null    object
 5   vote_count            200 non-null    int64
 6   vote_average          200 non-null    float64
 7   overview              200 non-null    object
 8   adult                 200 non-null    bool
 9   backdrop_path         200 non-null    object
 10  first_air_date        200 non-null    object
 11  last_air_date         200 non-null    object
 12  homepage              188 non-null    object
 13  in_production         200 non-null    bool
 14  original_name         200 non-null    object
 15  popularity            200 non-null    float64
 16  poster_path           200 non-null    object
 17  type                  200 non-null    object
 18  status                200 non-null    object
 19  tagline               153 non-null    object
 20  genres                200 non-null    object
 21  created_by            174 non-null    object
 22  languages             200 non-null    object
 23  networks              200 non-null    object
 24  origin_country        200 non-null    object
 25  spoken_languages      200 non-null    object
 26  production_companies  195 non-null    object
 27  production_countries  187 non-null    object
 28  episode_run_time      200 non-null    int64
dtypes: bool(2), float64(2), int64(5), object(20)
memory usage: 42.7+ KB

In [8]:
tv_shows.isnull().sum()

id                       0
title                    0
number_of_seasons        0
number_of_episodes       0
original_language        0
vote_count               0
vote_average             0
overview                 0
adult                    0
backdrop_path            0
first_air_date           0
last_air_date            0
homepage                12
in_production            0
original_name            0
popularity               0
poster_path              0
type                     0
status                   0
tagline                 47
genres                   0
created_by              26
languages                0
networks                 0
origin_country           0
spoken_languages         0
production_companies     5
production_countries    13
episode_run_time         0
dtype: int64

In [9]:
tv_shows.columns

Index(['id', 'title', 'number_of_seasons', 'number_of_episodes',
       'original_language', 'vote_count', 'vote_average', 'overview', 'adult',
       'backdrop_path', 'first_air_date', 'last_air_date', 'homepage',
       'in_production', 'original_name', 'popularity', 'poster_path', 'type',
       'status', 'tagline', 'genres', 'created_by', 'languages', 'networks',
       'origin_country', 'spoken_languages', 'production_companies',
       'production_countries', 'episode_run_time'],
      dtype='object')

In [10]:
tv_shows=tv_shows[['id', 'title', 'overview', 'genres']]

In [11]:
tv_shows

,id,title,overview,genres
0,1399,Game of Thrones,Seven noble families fight for control of the ...,"Sci-Fi & Fantasy, Drama, Action & Adventure"
1,71446,Money Heist,"To carry out the biggest heist in history, a m...","Crime, Drama"
2,66732,Stranger Things,"When a young boy vanishes, a small town uncove...","Drama, Sci-Fi & Fantasy, Mystery"
3,1402,The Walking Dead,Sheriff's deputy Rick Grimes awakens from a co...,"Action & Adventure, Drama, Sci-Fi & Fantasy"
4,63174,Lucifer,"Bored and unhappy as the Lord of Hell, Lucifer...","Crime, Sci-Fi & Fantasy"
...,...,...,...,...
195,4194,Star Wars: The Clone Wars,"Yoda, Obi-Wan Kenobi, Anakin Skywalker, Mace W...","Action & Adventure, Animation, Sci-Fi & Fantasy"
196,31911,Fullmetal Alchemist: Brotherhood,Edward and Alphonse Elric's reckless disregard...,"Action & Adventure, Animation, Sci-Fi & Fantasy"
197,93741,Jurassic World Camp Cretaceous,Six teens attending an adventure camp on the o...,"Animation, Kids, Action & Adventure"
198,2038,Drake & Josh,Fifteen-year-old Drake and Josh are schoolmate...,Comedy
199,90802,The Sandman,"After years of imprisonment, Morpheus — the Ki...","Sci-Fi & Fantasy, Drama"

In [12]:
tv_shows['tags'] = tv_shows['overview']+tv_shows['genres']

In [13]:
tv_shows

,id,title,overview,genres,tags
0,1399,Game of Thrones,Seven noble families fight for control of the ...,"Sci-Fi & Fantasy, Drama, Action & Adventure",Seven noble families fight for control of the ...
1,71446,Money Heist,"To carry out the biggest heist in history, a m...","Crime, Drama","To carry out the biggest heist in history, a m..."
2,66732,Stranger Things,"When a young boy vanishes, a small town uncove...","Drama, Sci-Fi & Fantasy, Mystery","When a young boy vanishes, a small town uncove..."
3,1402,The Walking Dead,Sheriff's deputy Rick Grimes awakens from a co...,"Action & Adventure, Drama, Sci-Fi & Fantasy",Sheriff's deputy Rick Grimes awakens from a co...
4,63174,Lucifer,"Bored and unhappy as the Lord of Hell, Lucifer...","Crime, Sci-Fi & Fantasy","Bored and unhappy as the Lord of Hell, Lucifer..."
...,...,...,...,...,...
195,4194,Star Wars: The Clone Wars,"Yoda, Obi-Wan Kenobi, Anakin Skywalker, Mace W...","Action & Adventure, Animation, Sci-Fi & Fantasy","Yoda, Obi-Wan Kenobi, Anakin Skywalker, Mace W..."
196,31911,Fullmetal Alchemist: Brotherhood,Edward and Alphonse Elric's reckless disregard...,"Action & Adventure, Animation, Sci-Fi & Fantasy",Edward and Alphonse Elric's reckless disregard...
197,93741,Jurassic World Camp Cretaceous,Six teens attending an adventure camp on the o...,"Animation, Kids, Action & Adventure",Six teens attending an adventure camp on the o...
198,2038,Drake & Josh,Fifteen-year-old Drake and Josh are schoolmate...,Comedy,Fifteen-year-old Drake and Josh are schoolmate...
199,90802,The Sandman,"After years of imprisonment, Morpheus — the Ki...","Sci-Fi & Fantasy, Drama","After years of imprisonment, Morpheus — the Ki..."

In [14]:
tv_shows = tv_shows.dropna()

In [15]:
tv_shows

,id,title,overview,genres,tags
0,1399,Game of Thrones,Seven noble families fight for control of the ...,"Sci-Fi & Fantasy, Drama, Action & Adventure",Seven noble families fight for control of the ...
1,71446,Money Heist,"To carry out the biggest heist in history, a m...","Crime, Drama","To carry out the biggest heist in history, a m..."
2,66732,Stranger Things,"When a young boy vanishes, a small town uncove...","Drama, Sci-Fi & Fantasy, Mystery","When a young boy vanishes, a small town uncove..."
3,1402,The Walking Dead,Sheriff's deputy Rick Grimes awakens from a co...,"Action & Adventure, Drama, Sci-Fi & Fantasy",Sheriff's deputy Rick Grimes awakens from a co...
4,63174,Lucifer,"Bored and unhappy as the Lord of Hell, Lucifer...","Crime, Sci-Fi & Fantasy","Bored and unhappy as the Lord of Hell, Lucifer..."
...,...,...,...,...,...
195,4194,Star Wars: The Clone Wars,"Yoda, Obi-Wan Kenobi, Anakin Skywalker, Mace W...","Action & Adventure, Animation, Sci-Fi & Fantasy","Yoda, Obi-Wan Kenobi, Anakin Skywalker, Mace W..."
196,31911,Fullmetal Alchemist: Brotherhood,Edward and Alphonse Elric's reckless disregard...,"Action & Adventure, Animation, Sci-Fi & Fantasy",Edward and Alphonse Elric's reckless disregard...
197,93741,Jurassic World Camp Cretaceous,Six teens attending an adventure camp on the o...,"Animation, Kids, Action & Adventure",Six teens attending an adventure camp on the o...
198,2038,Drake & Josh,Fifteen-year-old Drake and Josh are schoolmate...,Comedy,Fifteen-year-old Drake and Josh are schoolmate...
199,90802,The Sandman,"After years of imprisonment, Morpheus — the Ki...","Sci-Fi & Fantasy, Drama","After years of imprisonment, Morpheus — the Ki..."

In [23]:
new_data  = tv_shows.drop(columns=['overview', 'genres'])

In [24]:
new_data

,id,title,tags
0,1399,Game of Thrones,Seven noble families fight for control of the ...
1,71446,Money Heist,"To carry out the biggest heist in history, a m..."
2,66732,Stranger Things,"When a young boy vanishes, a small town uncove..."
3,1402,The Walking Dead,Sheriff's deputy Rick Grimes awakens from a co...
4,63174,Lucifer,"Bored and unhappy as the Lord of Hell, Lucifer..."
...,...,...,...
195,4194,Star Wars: The Clone Wars,"Yoda, Obi-Wan Kenobi, Anakin Skywalker, Mace W..."
196,31911,Fullmetal Alchemist: Brotherhood,Edward and Alphonse Elric's reckless disregard...
197,93741,Jurassic World Camp Cretaceous,Six teens attending an adventure camp on the o...
198,2038,Drake & Josh,Fifteen-year-old Drake and Josh are schoolmate...
199,90802,The Sandman,"After years of imprisonment, Morpheus — the Ki..."

In [25]:
from sklearn.feature_extraction.text import CountVectorizer

In [26]:
cv=CountVectorizer(max_features=10000, stop_words='english')

In [27]:
cv

CountVectorizer(max_features=10000, stop_words='english')

In [28]:
vector=cv.fit_transform(new_data['tags'].values.astype('U')).toarray()

In [41]:
vector.shape

(64266, 10000)

In [29]:
from sklearn.metrics.pairwise import cosine_similarity

In [30]:
similarity=cosine_similarity(vector)

In [31]:
similarity

array([[1.        , 0.02597622, 0.13355611, ..., 0.11020775, 0.        ,
        0.16537965],
       [0.02597622, 1.        , 0.06765101, ..., 0.03721615, 0.02473853,
        0.08377078],
       [0.13355611, 0.06765101, 1.        , ..., 0.        , 0.        ,
        0.21535276],
       ...,
       [0.11020775, 0.03721615, 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.02473853, 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.16537965, 0.08377078, 0.21535276, ..., 0.        , 0.        ,
        1.        ]])

In [33]:
new_data[new_data['title']=="Stranger Things"].index[0]

2

In [37]:
distance = sorted(list(enumerate(similarity[2])), reverse=True, key=lambda vector:vector[1])
for i in distance[0:5]:
    print(new_data.iloc[i[0]].title)

Stranger Things
Dark
Under the Dome
Wednesday
13 Reasons Why

In [39]:
def recommand(tv_shows):
    index=new_data[new_data['title']==tv_shows].index[0]
    distance = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda vector:vector[1])
    for i in distance[0:5]:
        print(new_data.iloc[i[0]].title)

In [40]:
recommand("Stranger Things")

Stranger Things
Dark
Under the Dome
Wednesday
13 Reasons Why

In [41]:
import pickle

In [42]:
pickle.dump(new_data, open('tv_shows_list.pkl', 'wb'))

In [43]:
pickle.dump(similarity, open('tv_shows_similarity.pkl', 'wb'))

In [44]:
pickle.load(open('tv_shows_list.pkl', 'rb'))

,id,title,tags
0,1399,Game of Thrones,Seven noble families fight for control of the ...
1,71446,Money Heist,"To carry out the biggest heist in history, a m..."
2,66732,Stranger Things,"When a young boy vanishes, a small town uncove..."
3,1402,The Walking Dead,Sheriff's deputy Rick Grimes awakens from a co...
4,63174,Lucifer,"Bored and unhappy as the Lord of Hell, Lucifer..."
...,...,...,...
195,4194,Star Wars: The Clone Wars,"Yoda, Obi-Wan Kenobi, Anakin Skywalker, Mace W..."
196,31911,Fullmetal Alchemist: Brotherhood,Edward and Alphonse Elric's reckless disregard...
197,93741,Jurassic World Camp Cretaceous,Six teens attending an adventure camp on the o...
198,2038,Drake & Josh,Fifteen-year-old Drake and Josh are schoolmate...
199,90802,The Sandman,"After years of imprisonment, Morpheus — the Ki..."